name: Test CI/CD

on:
  push:
    branches:
      - test

jobs:
  avoid_redundant_builds:
    runs-on: ubuntu-20.04
    steps:
      - name: Cancelar builds redundantes anteriores
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

  lint:
    needs: avoid_redundant_builds
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'
      - name: Instalar dependencias
        run: npm install --no-audit --no-fund --no-optional
      - name: Correr linter
        run: npm run lint

  test:
    needs: avoid_redundant_builds
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'
      - name: Instalar dependencias
        run: npm install --no-audit --no-fund --no-optional
      - name: Correr tests
        run: npm test

  deploy:
    needs: [lint, test]
    runs-on: ubuntu-20.04
    container:
      image: google/cloud-sdk:alpine
    steps:
      - uses: actions/checkout@v3
      - name: Establecer proyecto de Google Cloud
        run: gcloud config set project expoactiva-nacional-395522
      - name: Autenticación con Google Cloud
        run: echo "$GCP_CREDENTIALS" | gcloud auth activate-service-account --key-file=-
        env:
          GCP_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}
      - name: Despliegue a Google App Engine
        run: gcloud app deploy
      - name: Obtener nueva versión
        run: |
          NEW_VERSION=$(gcloud app versions list --sort-by '~version.id' --limit 1 --format 'value(version.id)')
          echo "NEW_VERSION=$NEW_VERSION" >> $GITHUB_ENV
      - name: Establecer tráfico
        run: |
          gcloud app services set-traffic default --splits $LAST_VERSION=0.8,$NEW_VERSION=0.2
